#sidebar-item{
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #1677ff;
    color: #fff;
    cursor: pointer;
    padding: 0.4em;
    border-top: 1px solid #fff;
}
#sidebar-item:hover{
    background-color: #0e52b0;
}