
.dropdown-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-icon,
.drop-list
{
    transition: all 0.5s;
}

.drop-list{
    list-style: none;
    max-height: 400px;
    overflow: hidden;

}

.drop-list #sidebar-item{
    padding-left: 1.3em;
}

.collapse-list{
    max-height: 0;
    overflow: hidden;
    /* transition: all 0.5s cubic-bezier(0, 1, 0, 1); */

}

.collapse-icon{
    transform: rotateZ(-90deg);
    /* transition: all 0.5s cubic-bezier(0, 1, 0, 1); */
}