#background-container{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #e4e6eb;
}
#home-container{
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
    margin: 3vw auto;
    position: sticky;
    top:0;
}

#side{
    flex-shrink: 0;
    width: 200px;
}
#main{
    width: 85%;
    margin-left: 2em;
}