#home-container{
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
    margin: 3vw auto;
    border: 1px solid red;
    position: sticky;
    top:0;
}

#side{
    flex-shrink: 0;
    width: 200px;
}
#main{
    width: 85%;
    margin-left: 2em;
}